{% load static i18n compress%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %} | On Smart Track</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured financial tracker for personal finance and stock market | On Smart Track">
    <meta name="author" content="Sachin Gupta">

    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block extra_css %}
    {% endblock %}

    {% compress css %}
      {% block css %}
        <!-- App css -->
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
        {% block css_wrapper %}
          {% include "partials/head-css.html" %}
        {% endblock css_wrapper %}
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {% endblock %}
    {% endcompress %}

    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
  </head>

  <body {% block body_extra %}{% endblock %}>

    {% block page_content %}{% endblock %}

    <!-- Le javascript
    ================================================== -->
    {% compress js %}
      {% block javascript %}
        <!-- bundle -->
        <script src="{% static 'js/vendor.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script>
          document.body.addEventListener('htmx:configRequest', (event) => {
              event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
          });
        </script>

      {% endblock javascript %}
      {% block extra_javascript %}{% endblock %}
    {% endcompress %}
  </body>
</html>
