<table class="table table-centered table-nowrap mb-0">
  <thead class="table-light">
    <tr>
      <th>Account Name</th>
      <th>Institute</th>
      <th>Account Type</th>
      <th>Client Id</th>
      <th>Last Login</th>
      <th style="width: 125px">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for data in accounts %}
    <tr>
      <td>{{data.account_name}}</td>
      <td>{{data.institute_name}}</td>
      <td>{{data.account_type}}</td>
      <td>{{data.client_id}}</td>
      <td>{{data.last_login}}</td>
      <td>
        {% if not data.is_connected %}
        <a class="action-icon" hx-post="{% url 'users:demat-login' data.id %}" hx-target="#demat-account-list" role="button">
          <i class="mdi mdi-login-variant" title="Login"></i>
        </a>
        {% else %}
        <i class="action-icon mdi mdi-lan-connect" title="Connected"></i>
        <a class="action-icon" hx-post="{% url 'users:demat-login' data.id %}"
          hx-confirm="Are you sure you wish to logout?" role="button">
          <i class="mdi mdi-logout-variant" title="Logout"></i>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
