{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block body_extra %}
class="loading authentication-bg" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false,
"leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
{% endblock %}

{% block page_content %}
<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="{% url 'landing' %}">
                            <span><img src="{% static 'images/logo.png' %}" alt="" height="18"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center pb-0 fw-bold">{% block page_heading %}{% trans "Sign in" %}{% endblock page_heading %}</h4>
                            <p class="text-muted mb-4">{% block page_text %}{% endblock page_text %}</p>
                        </div>

                        {% block page_form %}{% endblock page_form %}
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">{% block page_bottom_link %}{% endblock page_bottom_link %}</p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    2018 - 2021 © Hyper - Coderthemes.com
</footer>
{% endblock %}
