{% extends "account/base.html" %}
{% load static i18n crispy_forms_tags %}
{% load account %}

{% block title %}
    {% trans "Sign Out" %}
{% endblock title %}

{% block page_heading %}
    {% trans "Sign Out" %}
{% endblock page_heading %}

{% block page_text %}
    {% trans "Are you sure you want to sign out?" %}
{% endblock page_text %}

{% block page_form %}
  <form method="post" action="{% url 'account_logout' %}" novalidate>
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="mb-3 mb-0 text-center">
      <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
    </div>
  </form>
{% endblock page_form %}
