{% extends "account/base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}

{% block page_heading %}
    <img src="{% static 'images/mail_sent.svg' %}" alt="mail sent image" height="64" />
{% endblock page_heading %}

{% block page_text %}
    {% trans "Please check your email." %}
    {% if user.is_authenticated %}
    <p class="text-muted mb-4">
        {% include "account/snippets/already_logged_in.html" %}
    </p>

    {% endif %}

    <p class="text-muted mb-4">
        A email has been send to <b>{{user.email}}</b>.
        Please check for an email from company and click on the included link to
        reset your password.
    </p>
{% endblock page_text %}

{% block page_form %}
<form action="{% url 'landing' %}" novalidate>
    <div class="mb-0 text-center">
        <button class="btn btn-primary" type="submit"><i class="mdi mdi-home me-1"></i> Back to
            Home</button>
    </div>
</form>
{% endblock page_form %}

{% block page_bottom_link %}
    Back to <a href="{% url 'account_login' %}" class="text-muted ms-1"><b>Log In</b></a>
{% endblock page_bottom_link %}
