




{% extends "vertical_base.html" %}
{% load static i18n %}

{% block title %}{% trans "Demat Accounts" %}{% endblock title %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">CRM</a></li>
                            <li class="breadcrumb-item active">Demat Account List</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Demat Account List</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive" id="demat-account-list">
                            {% include 'users/accounts/partials/demat-list.html' %}
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- container -->
{% endblock %}

{% block extra_javascript %}
{% endblock %}
